{{ if .exif }}
    <div class="text-sm text-gray-600 font-sans">
        <ul>
            <li class="flex items-start">
                <span class="text-center w-4 mr-2">
                    <i class="fas fa-camera"></i>
                </span>
                <span class="leading-normal">
                    {{ .exif.make }} {{ replace .exif.model .exif.make "" }}
                    {{ if .exif.shutter_speed }}  &bull; {{ .exif.shutter_speed }} sec {{ end }}
                    {{ if .exif.aperture }}@ <em>f </em>{{ .exif.aperture }} &bull; {{ end }}
                    {{ if .exif.focal_length }}{{ .exif.focal_length }} &bull; {{ end }}
                    {{ if .exif.iso }}ISO {{ .exif.iso }}{{ end }}
                </span>
            </li>
            {{ if .exif.gps }}
                <li class="flex items-start mt-4">
                    <span class="text-center w-4 mr-2">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>
                        <a class="hover:text-gray-400 transition" href="https://www.google.com/maps/search/?api=1&zoom=5&query={{ replace .exif.gps " " "," }}">
                            Taken here
                        </a>
                    </span>
                </li>
            {{ end }}
        </ul>
    </div>
{{ end }}
