<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>
        <link rel="stylesheet" href="/css/main.css?{{ now.Unix }}">
    </head>
    <body>
        <main class="container mx-auto">
            <h1 class="text-2xl font-bold">Ohnoes! 😱</h1>
            <p class="my-2">
                That page was totes not found.
            </p>
            <p class="my-2">
                How about checking out the <a class="text-blue-700" href="/">home page</a>, instead?
            </p>
        </main>
    </body>
</html>
