

<a href="{{ .RelPermalink }}" title="{{ .Title }}">
    <img src="{{ partial "media-url" (dict "url" .Params.featured.url "ctx" $) }}">
</a>

<figcaption>
    <span>
        <i class="mr-1 fa fa-calendar-alt"></i>
        {{ partial "date" . }}
    </span>
    <span title="{{ len .Params.items }} things">
        <i class="mr-1 fas fa-images"></i>
        {{ len .Params.items }}
    </span>
    {{ if .WordCount }}
        <span title="{{ .WordCount }} words">
            <i class="mr-1 far fa-file-alt"></i>
            {{ .WordCount }}
        </span>
    {{ end }}
</figcaption>
